<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/images/android-chrome-512x512.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<style>
  .site-logo {
    max-height: 40px !important;
    min-width: 200px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
.side-bar { width: 16rem !important; min-width: 16rem !important; }
.main { margin-left: 16rem !important; }
@media (max-width: 49.99rem) {
  .side-bar { width: 100% !important; }
  .main { margin-left: 0 !important; }
}
.main-content { max-width: none !important; }
.main-content-wrap { max-width: none !important; padding-right: 2rem !important; }
</style>